Repository jamf/regatta, pull requests merged in 2023-12, with the labels that each got.

#217 feat: improve Engine events handling and server startup error reporting
  cmd/common.go
  cmd/follower.go
  cmd/leader.go
  storage/config.go
  storage/engine.go
  storage/engine_events.go
  storage/engine_test.go
  storage/logreader/logreader.go
  storage/logreader/logreader_test.go
Labels: code

#218 docs: add ecosystem documentation
  docs/ecosystem.md
Labels: docs

#219 bug: fix follower rest address handling
  cmd/follower.go
  cmd/leader.go
  cmd/maxprocs.go
  cmd/maxprocs_linux.go
  docs/changelog.md
Labels: code, docs, changelog

#220 bug: fix replication TLS
  Makefile
  cmd/leader.go
  docs/changelog.md
Labels: code, docs, changelog

#221 bug: put and delete prev and count errors
  docs/changelog.md
  storage/table/fsm/command_delete.go
  storage/table/fsm/command_delete_test.go
  storage/table/fsm/command_put.go
  storage/table/fsm/command_put_test.go
  storage/table/fsm/command_txn.go
Labels: code, docs, changelog

#223 deps: bump Go and just-the-docs version
  Dockerfile
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  go.mod
Labels: docs

#235 add: separate advertise from listen address
  .github/workflows/deploy-docs.yml
  cmd/flags.go
  cmd/follower.go
  cmd/leader.go
  docs/changelog.md
  docs/operations_guide/cli/regatta_follower.md
  docs/operations_guide/cli/regatta_leader.md
  go.mod
  go.sum
  hack/Procfile.cluster.dev
  regattaserver/grpc.go
  storage/engine.go
Labels: code, docs, changelog

#236 add: simplify server by removing maintenance API port
  Dockerfile
  cmd/common.go
  cmd/flags.go
  cmd/follower.go
  cmd/leader.go
  docs/changelog.md
  docs/operations_guide/cli/regatta_follower.md
  docs/operations_guide/cli/regatta_leader.md
  regattaserver/maintenance.go
  replication/backup/backup.go
  replication/backup/backup_test.go
Labels: code, docs, changelog

#237 add: cluster and node name settings support
  .github/labeler.yml
  .github/workflows/labeler.yml
  cmd/flags.go
  cmd/follower.go
  cmd/leader.go
  docs/api.md
  docs/changelog.md
  docs/operations_guide/cli/regatta_follower.md
  docs/operations_guide/cli/regatta_leader.md
  proto/regatta.proto
  regattapb/maintenance.pb.go
  regattapb/maintenance_grpc.pb.go
  regattapb/mvcc.pb.go
  regattapb/regatta.pb.go
  regattapb/regatta_grpc.pb.go
  regattapb/regatta_vtproto.pb.go
  regattapb/replication.pb.go
  regattapb/replication_grpc.pb.go
  storage/cluster/cluster.go
  storage/cluster/cluster_test.go
  storage/config.go
  storage/engine.go
  storage/engine_test.go
Labels: code, docs, proto, changelog
