Repository jamf/regatta, pull requests merged in 2023-06, with the labels that each got.

#120 chore: cover REST server
  regattaserver/rest.go
  regattaserver/rest_test.go
Labels: code

#123 docs: add: proposals
  .github/labeler.yml
  docs/_config.yml
  docs/contributing.md
  docs/proposals/000-rfc-template.md
  docs/proposals/proposals.md
Labels: docs, proposal

#130 chore: simplify logreader and improve tests
  storage/logreader/logreader.go
  storage/logreader/logreader_test.go
Labels: code

#91 add: DNS cluster discovery
  proto/maintenance.pb.go
  proto/maintenance_grpc.pb.go
  proto/mvcc.pb.go
  proto/regatta.pb.go
  proto/regatta_grpc.pb.go
  proto/replication.pb.go
  proto/replication_grpc.pb.go
  storage/cluster/cluster.go
  storage/cluster/cluster_test.go
  storage/cluster/dns/dns.go
  storage/cluster/dns/dns_test.go
  storage/cluster/dns/resolver.go
  storage/cluster/dns/resolver_test.go
  storage/engine.go
Labels: code, proto

#131 chore: simplify cert and improve test coverage
  cert/cert.go
  cert/cert_test.go
  cert/watcher.go
  cmd/common.go
  cmd/follower.go
  cmd/leader.go
  go.mod
  go.sum
Labels: code

#133 bug: do not reach to quorum on replication call
  cmd/leader.go
  regattaserver/replication.go
  storage/table/fsm/fsm.go
  storage/table/fsm/fsm_test.go
  storage/table/fsm/metrics.go
  storage/table/fsm/snapshot_checkpoint.go
  storage/table/fsm/snapshot_snapshot.go
Labels: code

#135 chore: improve replication coverage
  replication/backup/backup_test.go
  replication/replication.go
  replication/replication_test.go
  replication/snapshot/snapshot.go
  replication/snapshot/snapshot_test.go
  replication/worker.go
  replication/worker_test.go
  storage/kv/kv_test.go
Labels: code

#142 rfc: range query consistency
  docs/proposals/001-range-empty.md
Labels: docs, proposal
