Repository jamf/regatta, pull requests merged in 2023-11, with the labels that each got.

#208 add: bump vtproto compiler
  docs/contributing.md
  go.mod
  go.sum
  regattapb/maintenance.pb.go
  regattapb/maintenance_grpc.pb.go
  regattapb/maintenance_vtproto.pb.go
  regattapb/mvcc.pb.go
  regattapb/mvcc_vtproto.pb.go
  regattapb/regatta.pb.go
  regattapb/regatta_grpc.pb.go
  regattapb/regatta_vtproto.pb.go
  regattapb/replication.pb.go
  regattapb/replication_grpc.pb.go
  regattapb/replication_vtproto.pb.go
Labels: code, docs

#209 deps: update dependencies
  .github/dependabot.yml
  .github/workflows/lint.yml
  default.pgo
  docs/changelog.md
  go.mod
  go.sum
  storage/cluster/cluster_test.go
  storage/cluster/view.go
  storage/cluster/view_test.go
  storage/kv/map.go
  util/rand_test.go
Labels: code, docs

#210 add: release notes for v0.2.3
  docs/changelog.md
Labels: docs

#211 add: Memberlist and Status API
  .github/labeler.yml
  .github/workflows/test.yml
  Makefile
  cmd/common.go
  cmd/flags.go
  cmd/follower.go
  cmd/leader.go
  cmd/version.go
  docs/api.md
  docs/changelog.md
  docs/operations_guide/cli/regatta_follower.md
  docs/operations_guide/cli/regatta_leader.md
  docs/operations_guide/deploying_to_kubernetes.md
  proto/regatta.proto
  regattapb/maintenance.pb.go
  regattapb/maintenance_grpc.pb.go
  regattapb/mvcc.pb.go
  regattapb/regatta.pb.go
  regattapb/regatta_grpc.pb.go
  regattapb/regatta_vtproto.pb.go
  regattapb/replication.pb.go
  regattapb/replication_grpc.pb.go
  regattaserver/cluster.go
  regattaserver/grpc.go
  regattaserver/regattaserver.go
  replication/backup/backup_test.go
  replication/replication_test.go
  replication/worker_test.go
  storage/cluster/cluster.go
  storage/engine.go
  storage/engine_test.go
  version/version.go
Labels: code, docs, proto

#202 feat: Improve docker image
  .dockerignore
  Dockerfile
  docs/quickstart.md
Labels: docs

#214 docs: 0.3.0 release notes
  docs/changelog.md
  storage/engine.go
Labels: code, docs, changelog
