Repository jamf/regatta, pull requests merged in 2023-04, with the labels that each got.

#83 add: ci: license checker
  .github/workflows/lint.yml
  .golangci.yml
  cmd/flags.go
  proto/maintenance.proto
  proto/mvcc.proto
  proto/regatta.proto
  proto/replication.proto
Labels: code, proto

#75 add: Storage optimizations
  .github/workflows/lint.yml
  cmd/flags.go
  cmd/follower.go
  cmd/leader.go
  docs/changelog.md
  docs/operations_guide/cli/regatta_follower.md
  docs/operations_guide/cli/regatta_leader.md
  pebble/options.go
  replication/backup/backup_test.go
  replication/replication_test.go
  storage/table/fsm/fsm.go
  storage/table/fsm/metrics.go
  storage/table/fsm/query.go
  storage/table/fsm/snapshot_checkpoint.go
  storage/table/fsm/snapshot_snapshot.go
  storage/tables/config.go
  storage/tables/tables.go
  storage/tables/tables_test.go
Labels: code, docs

#67 feat: Cluster registry
  .github/workflows/test.yml
  Dockerfile
  cmd/flags.go
  cmd/follower.go
  cmd/leader.go
  docs/changelog.md
  docs/operations_guide/cli/regatta_follower.md
  docs/operations_guide/cli/regatta_leader.md
  go.mod
  go.sum
  proto/maintenance_grpc.pb.go
  proto/regatta_grpc.pb.go
  proto/replication_grpc.pb.go
  regattaserver/rest.go
  storage/cluster/cluster.go
  storage/cluster/cluster_test.go
  storage/cluster/logger.go
  storage/cluster/view.go
  storage/cluster/view_test.go
  storage/config.go
  storage/engine.go
Labels: code, docs, proto
